recursive-include doc *.xml
recursive-include doc *.html
include doc/CONTRIBUTORS
include ChangeLog
include COPYING
include COPYING.LESSER
include README
recursive-include examples *.py
include __pkginfo__.py
