Source: constraint
Section: python
Priority: optional
Maintainer: Alexandre Fayolle <afayolle@debian.org> 
Build-Depends: debhelper (>= 5.0.37.1), python-dev (>=2.3.5-7), python (>=2.3.5-7), python-central
XS-Python-Version: all
Standards-Version: 3.7.2

Package: python-constraint
Architecture: all
Suggests: python-psyco
Depends: ${python:Depends}, python-logilab-common (>= 0.16.1-2)
XB-Python-Version: ${python:Versions}
Description: constraints satisfaction solver in Python
 Extensible constraint satisfaction problem solver written in pure
 Python, using constraint propagation algorithms. The
 logilab.constraint module provides finite domains with arbitrary
 values, finite interval domains, and constraints which can be applied
 to variables linked to these domains.
 .
 Homepage: http://www.logilab.org/projects/constraint

