Source: constraint
Section: python
Priority: optional
Maintainer: Alexandre Fayolle <afayolle@debian.org> 
Build-Depends: debhelper (>= 4.0.0), python-dev
Standards-Version: 3.6.2

Package: python-constraint
Architecture: all
Suggests: python-psyco
Depends: python, python-logilab-common (>= 0.12.0)
Provides: python2.3-constraint, python2.4-constraint
Conflicts: python2.3-constraint, python2.4-constraint
Replaces: python2.3-constraint, python2.4-constraint
Description: constraints satisfaction solver in Python
 Extensible constraint satisfaction problem solver written in pure
 Python, using constraint propagation algorithms. The
 logilab.constraint module provides finite domains with arbitrary
 values, finite interval domains, and constraints which can be applied
 to variables linked to these domains.
 .
 Homepage: http://www.logilab.org/projects/constraint

