#!/usr/bin/make -f
# -*- makefile -*-
#
# Copyright (c) 2003-2011 LOGILAB S.A. (Paris, FRANCE).
# http://www.logilab.fr/ -- mailto:contact@logilab.fr

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/python/python.mk

# don't build the python3 package if python3 is < 3.3
py3k = $(subst python3.,,$(shell py3versions -d))
build_py3k = $(shell test "$(py3k)" -gt 2 && echo 1)

PYLIB:=$(call py_libdir,$(shell pyversions -d))
PACKAGE:=$(call py_pkgname,python-logilab-constraint,python)
PYLIB3:=$(call py_libdir,python3.)
PACKAGE3:=$(call py_pkgname,python-logilab-constraint,python3.)

ifeq (,$(build_py3k))
    DH_OPTIONS += -N$(PACKAGE3)
    export DH_OPTIONS
endif

build: build-indep
.PHONY: build

%:
	dh $@ --with python2,python3

override_dh_auto_install:
	NO_SETUPTOOLS=1 python setup.py -q install --no-compile \
	                --root=$(CURDIR)/debian/$(PACKAGE)/ \
	                ${py_setup_install_args}
ifneq (,$(build_py3k))
	NO_SETUPTOOLS=1 python3 setup.py -q install --no-compile \
	                --root=$(CURDIR)/debian/$(PACKAGE3)/ \
	                ${py_setup_install_args}
endif
	rm -f debian/*/usr/lib/python*/*/logilab/__init__.py

override_dh_clean:
	dh_clean
	rm -rf build
	rm -rf doc/apidoc
	rm -rf *.egg-info
